<%= form_with(model: subscriber) do |form| %>
  <% if subscriber.errors.any? %>
    <div style="color: red">
      <ul>
        <% subscriber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if preference.errors.any? %>
    <div style="color: red">
      <ul>
        <% preference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :preferences, style: "display: block" %>
    <%= check_box_tag(:women) %>
    <%= label_tag(:women, "Women's Fashion") %>
    <%= check_box_tag(:men) %>
    <%= label_tag(:men, "Men's Fashion") %>
    <%= check_box_tag(:children) %>
    <%= label_tag(:children, "Children's Fashion") %>
  </div>

  <div>
    <%= form.submit ("Subscribe Me!") %>
  </div>
<% end %>
