<%= form_with(model: subscriber, html:{class: "form"}) do |form| %>
  <div class="container--email">
    <%= form.label t"activerecord.form.email", style: "display: block", class: "form--label-email" %>
    <%= form.text_field :email, class: "form--input-email" %>
    <%=errors_for(subscriber, :email)%>
  </div>

  <div class="container--checkboxes">
    <%= form.label (t"activerecord.form.preference").to_sym, style: "display: block", class: "form--group-preference" %>
      <% preferences.each_with_index do |preference, index| %>
        <div class="subcontainer--checkboxes">
          <%= form.check_box(preference.name, {value: "0", checked: "false", class: "form--checkbox"}) %>
          <% t("activerecord.preference.#{preference.name}") + t("activerecord.form.checkbox") %>
          <% normalFlow = t("activerecord.form.checkbox") + t("activerecord.preference.#{preference.name}") %>
          <% invertFlow =  t("activerecord.preference.#{preference.name}") + t("activerecord.form.checkbox") %>
          <% currentLanguage = I18n.locale.to_s.eql?("en") %>
          <%= form.label(preference.name, currentLanguage ?  invertFlow : normalFlow, class: "form--label") %>
        </div>
      <% end %>
      <%=errors_for(subscriber, :preferences)%>
  </div>

  <%= form.submit( t("activerecord.form.suscribe"), :class => 'form--button-submit' )%>
<% end %>
