<%= form_with(model: subscriber, html:{class: "form"}) do |form| %>
  <% if subscriber.errors.any? %>
    <div style="color: red">
      <ul>
        <% subscriber.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container--email">
    <%= form.label t"form.email", style: "display: block", class: "form--label-email" %>
    <%= form.text_field :email, class: "form--input-email" %>
  </div>

  <div class="container--checkboxes">
    <%= form.label (t"form.preference").to_sym, style: "display: block", class: "form--group-preference" %>
      <% preferences.each_with_index do |preference, index| %>
        <div class="subcontainer--checkboxes">
          <%= form.check_box(preference.name, {value: "0", checked: "false", class: "form--checkbox"}) %>
          <%# form.label(preference.name, t("form.checkbox#{index +1}"), class: "form--label") %>
          <%= form.label(preference.name, params[:locale].eql?("en") ? t("preference.#{preference.name}") + t("form.checkbox") : t("form.checkbox") + t("preference.#{preference.name}"), class: "form--label") %>
        </div>
      <% end %>
  </div>

  <%= form.submit( t("form.suscribe"), :class => 'form--button-submit' )%>
<% end %>
