<div id="<%= dom_id subscriber %>">

  <tr>
    <td><%= subscriber.email %></td>
    <% subscriber.preferences.find do |preference| %>
      <td><%= preference[:name] == "women" ? "ok" : "" %></td>
    <% end   %>
   <% subscriber.preferences.find do |preference| %>
      <td><%= preference[:name] == "men" ? "ok" : "" %></td>
    <% end   %>
    <% subscriber.preferences.find do |preference| %>
      <td><%= preference[:name] == "children" ? "ok" : "" %></td>
    <% end   %>
  </tr>

</div>
