<div id="<%= dom_id subscriber %>">

  <tr>
    <td><%= subscriber.email %></td>
    <% my_preference = subscriber.preferences.map{|preference| preference.name}%>
    <td><%= my_preference.include?("women") ? "✔" : "" %></td>
    <td><%= my_preference.include?("men") ? "✔" : "" %></td>
    <td><%= my_preference.include?("children") ? "✔" : "" %></td>
  </tr>

</div>
