<section class="container-main">
  <p style="color: green"><%= notice %></p>
  <h1><%= t("models.subscribers").capitalize  + "/" + t("models.preferences").capitalize %></h1>
  <table>
    <thead>
      <tr>
        <th colspan="4"><%= t("models.subscribers").capitalize  %></th>
      </tr> 
      <tr>
        <th><%= t("form.email").capitalize  %></th>
        <th><%= t("preference.women").capitalize  %></th>
        <th><%= t("preference.men").capitalize  %></th>
        <th><%= t("preference.children").capitalize  %></th>
      </tr>
    </thead>
    <tbody>
      <div id="subscribers">
        <% @subscribers.each do |subscriber| %>
          <%= render subscriber %>
        <% end %>
      </div>
    </tbody>
  </table>

  <%= link_to I18n.t("link.new_subscriber"), new_subscriber_path %>
</section>
