<section class="container-main">

  <h1><%= t("activerecord.models.subscribers").capitalize  + "/" + t("activerecord.models.preferences").capitalize %></h1>
  <table>
    <thead>
      <tr>
        <th colspan="4"><%= t("activerecord.models.subscribers").capitalize  %></th>
      </tr> 
      <tr>
        <th><%= t("activerecord.form.email").capitalize  %></th>
        <% @preferences.each do |preference| %>
          <th><%= t("activerecord.preference.#{preference.name}").capitalize %></th>
        <% end%>
      </tr>
    </thead>
    <tbody>
      <div id="subscribers">
        <%= render @subscribers, preferences: @preferences %>
      </div>
    </tbody>
  </table>

  <%= link_to I18n.t("activerecord.link.new_subscriber"), new_subscriber_path %>
</section>
