<section class="container-main">
  <p style="color: green"><%= notice %></p>
  <h1><%= t("activerecord.models.subscribers").capitalize  + "/" + t("activerecord.models.preferences").capitalize %></h1>
  <table>
    <thead>
      <tr>
        <th colspan="4"><%= t("activerecord.models.subscribers").capitalize  %></th>
      </tr> 
      <tr>
        <th><%= t("activerecord.form.email").capitalize  %></th>
        <th><%= t("activerecord.preference.women").capitalize  %></th>
        <th><%= t("activerecord.preference.men").capitalize  %></th>
        <th><%= t("activerecord.preference.children").capitalize  %></th>
      </tr>
    </thead>
    <tbody>
      <div id="subscribers">
        <% @subscribers.each do |subscriber| %>
          <%= render subscriber, preferences: @preferences %>
        <% end %>
      </div>
    </tbody>
  </table>

  <%= link_to I18n.t("activerecord.link.new_subscriber"), new_subscriber_path %>
</section>
