
<section class="section">

<div class="section--container">
  <header class="header">
    <nav class="navbar">
      <%= link_to  root_path(locale: :en), class:"language" do %>
        <div class="language--container">
          <%= image_tag "en.png" %>
          <p><%= t"language.english" %></p>
        </div>
      <% end%>
      <%= link_to  root_path(locale: :ru), class:"language" do %>
        <div class="language--container">
          <%= image_tag "ru.png" %>
          <p><%= t"language.russian" %></p>
        </div>
      <% end%>
      <%= link_to  root_path(locale: :es), class:"language" do %>
        <div class="language--container">
          <%= image_tag "es.png" %>
          <p><%= t"language.spanish" %></p>
        </div>
      <% end%>
      
    </nav>
  </header>

  <div class="container-logo">
    <%= image_tag("logo.svg", :alt => "logo", class: "logo") %>
    <p class="logo--subtitle"> <%= t"logo.subtitle" %></p>
  </div>

  <div class="body">
    <div class="call-action">
      <p ><%= t"body.welcome" %></p>
      <p ><%= t"body.callAction" %></p>
    </div>
  </div>
  <div class="container-form">
    <%= render "form", subscriber: @subscriber, preferences:@preferences %>
  </div>

  <div>
    <%= link_to t("link.index_subscribers"), subscribers_path %>
  </div>
</div>

</section>
