
<section class="section">

<div class="section--container">
  <header class="header">
    <nav class="nav-languages">
    <% I18n.available_locales.each do |language| %>
      <%= link_to  root_path(locale: language), class:"language" do %>
        <div class="language--container">
          <% exist_logo = File.exists?("./app/assets/images/#{language.to_s}.png") %>
          <%= image_tag exist_logo ? "#{language.to_s}.png" : "default.png" %>
          <p><%= t("activerecord.language.#{language.to_s}") %></p>
        </div>
      <% end%>
    <% end %>
    </nav>
  </header>
  
  <div class="container-logo">
    <%= image_tag("logo.svg", :alt => "logo", class: "logo") %>
    <p class="logo--subtitle"> <%= t"activerecord.logo.subtitle" %></p>
  </div>

  <p class="success-message"><%= notice %></p>

  <div class="body">
    <div class="call-action">
      <p ><%= t"activerecord.body.welcome" %></p>
      <p ><%= t"activerecord.body.callAction" %></p>
    </div>
  </div>
  <div class="container-form">
    <%= render "form", subscriber: @subscriber, preferences:@preferences %>
  </div>

  <div>
    <%= link_to t("activerecord.link.index_subscribers"), subscribers_path %>
  </div>
</div>

</section>
