<section class="section">
<div class="section--container">
  <header class="header">
    <%= image_tag("logo.svg", :alt => "logo", style: "width: 70%") %>
    <p class="logo--subtitle"> <%= t"logo.subtitle" %></p>
  </header>

  <nav>

  <ul class="nav--language" role="nav">
    <li><%= link_to 'English', root_path(locale: :en) %></li>
    <li><%= link_to 'Русский', root_path(locale: :ru) %></li>
    <li><%= link_to 'Espanish', root_path(locale: :es) %></li>
  </ul>
</nav>

  <div class="body">
  <div class="call-action">
    <p ><%= t"body.welcome" %></p>
    <p ><%= t"body.callAction" %></p>
  </div>
   <%= render "form", subscriber: @subscriber, preferences:@preferences %>
  </div>



<br>

<div>
  <%= link_to "Ver suscriptores", subscribers_path %>
</div>
</section>
</div>
